services:
  mc:
    image: itzg/minecraft-server:latest
    container_name: mc-server
    restart: unless-stopped
    ports:
      - "25565:25565"
    environment:
      # --- Version & Type ---
      EULA: "TRUE"
      VERSION: "1.21.11"
      TYPE: "FABRIC"

      # PACKWIZ_URL: "https://raw.githubusercontent.com/username/my-minecraft-server/main/modpack/pack.toml"
      # FORCE_REDOWNLOAD: "true"
      
      # --- General Server Settings ---
      ONLINE_MODE: "FALSE"
      MAX_PLAYERS: 5
      DIFFICULTY: "hard"
      ICON: /icon.png
      OVERRIDE_ICON: true
      MOTD: "\u00a7l   \u00a7r                        \u00a74\u00a7lFix Bug\u00a7r\n                    \u00a72\u00a7lIn The Box World."
      
      # --- Optimization ---
      MEMORY: "6G"
      INIT_MEMORY: "6G"
      USE_AIKAR_FLAGS: "true"
      
      # --- Performance & Network ---
      VIEW_DISTANCE: 7
      SIMULATION_DISTANCE: 4
      USE_NATIVE_TRANSPORT: "true"
      NETWORK_COMPRESSION_THRESHOLD: 256
      
      # --- System Stability ---
      MAX_TICK_TIME: 60000
      UID: 1000
      GID: 1000
      TZ: "Asia/Bangkok"
      STOP_DURATION: 120

    volumes:
      - ./data:/data
      - ./icon.png:/icon.png
    deploy:
      resources:
        limits:
          memory: 7G
